extends layout

block content
  h1 #{title}
  h3 Total Sentences Added: #{totalSentencesCount}
  h3 Total Characters Added: #{totalCharacterCount}
  h3 Total LowerCaseAlphabets Added: #{totalLowerCaseAlphabetsCount}
  h3 Total UpperCaseAlphabets Added: #{totalUpperCaseAlphabetsCount}
  h3 Total NonAlphabeticCharacters Added: #{totalNonAlphabeticCharactersCount}